In [1]:
import pickle
import pandas as pd

In [5]:
data = pickle.load( open( "agent_data.pkl", "rb" ) )

In [6]:
data.head()

,competition,Run,DataCollector,data_collect_interval,width,height,numAgents,talent_sd,goal_scale,goal_angle,...,AgentID,Proxy,Goal,Goal_oc,Utility,Effort,Practice,Genealogy,Talent,Type
0,0.1,0,<mesa.datacollection.DataCollector object at 0...,1,10,10,100,1,2,0.785398,...,Company_0,none,0.785237,none,none,none,none,none,none,company
1,0.1,0,<mesa.datacollection.DataCollector object at 0...,1,10,10,100,1,2,0.785398,...,100,7.03487,9.999870,7.10708,15.962,10,0.790504,100,10.4121,individual
2,0.1,0,<mesa.datacollection.DataCollector object at 0...,1,10,10,100,1,2,0.785398,...,99,7.10328,9.999896,7.03871,8.92141,10,0.780832,99,9.12193,individual
3,0.1,0,<mesa.datacollection.DataCollector object at 0...,1,10,10,100,1,2,0.785398,...,98,6.9928,9.999394,7.14848,15.7437,10,0.796407,98,10.2121,individual
4,0.1,0,<mesa.datacollection.DataCollector object at 0...,1,10,10,100,1,2,0.785398,...,97,7.07257,10.000000,7.06956,16.0946,10,0.785185,97,10.5284,individual

In [7]:
modeldata = pickle.load(open("model_data.pkl", "rb"))
modeldata.head()

,competition,Run,data_collect_interval,width,height,numAgents,talent_sd,goal_scale,goal_angle,selection_pressure,practice_mutation_rate,survival_uncertainty,mean_proxy_value,mean_goal_value,mean_goal_oc,mean_effort,mean_utility,mean_practice,Step
0,0.1,0,1,10,10,100,1,2,0.785398,0.1,0.034907,3,9.167913,8.673065,3.097654,10.000,13.846827,0.326004,0
1,0.1,0,1,10,10,100,1,2,0.785398,0.1,0.034907,3,11.010260,10.579893,3.951968,12.093,9.152499,0.326004,1
2,0.1,0,1,10,10,100,1,2,0.785398,0.1,0.034907,3,11.161871,10.696101,3.964700,12.283,8.366913,0.329400,2
3,0.1,0,1,10,10,100,1,2,0.785398,0.1,0.034907,3,11.425809,10.990800,4.117529,12.545,7.966544,0.329400,3
4,0.1,0,1,10,10,100,1,2,0.785398,0.1,0.034907,3,11.634710,11.204705,4.211136,12.783,7.589266,0.329173,4

In [16]:
company.head()

,Step,AgentID,Proxy,Goal,Goal_oc,Utility,Effort,Practice,Genealogy,Talent,Run
0,1,Company_0,none,none,none,none,none,none,none,none,0
11,1,Company_1,none,none,none,none,none,none,none,none,0
22,1,Company_2,none,none,none,none,none,none,none,none,0
33,1,Company_3,none,none,none,none,none,none,none,none,0
44,1,Company_4,none,none,none,none,none,none,none,none,0

In [21]:
data = data[data['Effort']!= "none"]
data.reset_index(drop=True)
del data['index']
data.head()

,Step,AgentID,Proxy,Goal,Goal_oc,Utility,Effort,Practice,Genealogy,Talent,Run
0,1,100,6.90972,9.99745,7.22881,15.8906,10,0.194263,11,9.66882,0
1,1,99,6.92868,9.99801,7.21064,15.3359,10,0.805337,99,9.84967,0
2,1,98,7.27002,9.99593,6.86635,14.6298,10,0.756851,98,9.0155,0
3,1,97,6.94889,9.99853,7.19117,15.7225,10,0.80253,97,10.2237,0
4,1,96,6.91615,9.99765,7.22266,17.0809,10,0.807073,96,11.9073,0